<div class='kubik-wysiwyg-tabs-container' id="<%= @widget_id %>-tabs">
  <% @repeated_items.each_with_index do |item, index| %>
    <div class='kubik-wysiwyg-repeated-item'>
      <div class='kubik-wysiwyg-repeated-item-actions'>
        <%= render Kubik::WysiwygEditor::Common::DeleteAction.new(index, @tab[:name]) %>
        <%= render Kubik::WysiwygEditor::Common::Actions.new(index, @repeated_items.length, @tab[:name]) %>
      </div>
      <div class='fields<%= @tab[:sections].present? ? " fields__with-sections" : nil %>'>
        <% if @tab[:sections].present? %>
          <% grouped_fields = @tab[:fields].group_by { |f| f[:section] } %>
          <% grouped_fields.each do |group, fields| %>
            <div class='kubik_widget_section kubik_widget_section__<%= group %>'>
              <% fields.each do |field| %>
                <%= render Kubik::WysiwygEditor::Common::Field.new(field, @data, @widget_id, @tab, index) %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <% @fields.each do |field| %>
            <%= render Kubik::WysiwygEditor::Common::Field.new(field, @data, @widget_id, @tab, index) %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

