<div class='input choices'>
  <label class='label' for='<%= @field[:name] %>-<% @widget_id %>'><%= @field_label %></label>
  <% @options.each do |option| %>
    <div class='checkbox choice'>
      <input type='checkbox' id='<%= @field[:name] %>-<%= @widget_id %>-<%= option[:value] %>' data-checkbox='true' name='<%= @field_name %>[]' data-action='change->kubik-widget#updateField' value='<%= option[:value] %>' <% if @field_value.split(',').include?(option[:value]) %>checked='checked'<% end %> />
      <label for='<%= @field[:name] %>-<% @widget_id %>'><%= option[:label] %></label>
    </div>
  <% end %>
  <% if @options.blank? %>
    <p>No options available</p>
  <% end %>
  <p class='inline-hints'><%= @field[:hint] %></p>
</div>
