<%= semantic_form_for :kubik_media_upload, url: admin_kubik_media_uploads_path, multipart: true, method: :post, html: { id: 'kubik-media-gallery--file_upload_form', class: 'dropzone media_upload_form', 'data-image_dropzone-target': 'form' } do |f| %>
  <%= f.inputs 'File upload' do %>
    <%= content_tag(:li, id: 'upload_placeholder_container', class: 'upload_placeholder no-file', 'data-image_dropzone-target': 'placeholder') do %>
      <i class='upload-icon material-symbols-outlined'>file_upload</i>
      <p id='upload-text' class='upload-text' data-image_dropzone-target='text'>Select a file</p>
    <% end %>
    <%= f.input :image, as: :file, input_html: {'data-image_dropzone-target': 'input', 'data-action': 'change->image_dropzone#file_changed'} %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, label: 'Upload file', wrapper_html: {'data-image_dropzone-target': 'submit'} %>
  <% end %>
  <div class="kubik-media-gallery--file_select_container dz-message kubik--dz-message" data-dz-message>
    <span class='kubik-media-gallery--file_select_header kubik--dz-message-header'>Add an image...</span>
    <span class='kubik-media-gallery--file_select_link kubik--dz-message-link'>select files from your computer</span>
    <span class='kubik-media-gallery--file_select_hint kubik--dz-message-hint'>Maximum siez 2Mb | .jpg .png .pdf</span>
  </div>
<% end %>
