<%= content_tag(:div, id: "kubik_media_upload_#{image.id}", class: 'kubik-media-gallery--media_item_container') do %>
  <div class="kubik-media-gallery--media_item_container--status <%= image.aasm_state %>">
    <div class='status'>
    <% 4.times do %>
      <div class='status_marker'></div>
    <% end %>
    </div>
    <%= link_to('delete',
                admin_kubik_media_upload_path(image),
                class: 'material-symbols-outlined kubik-media-gallery--media_item_container--icon',
                method: :delete, data: { confirm: 'Are you sure?' }) %>
  </div>
  <% file = image.image.present? ? image.image : image.file %>
  <% mime_type = file.metadata['mime_type'] %>
  <% file_type = Hash[ [:type, :format].zip(mime_type.split("/")) ] %>
  <%= render 'image_preview', image: image, file: file, mime_type: mime_type, file_type: file_type, modal: modal %>
  <div class='kubik-media-gallery--media_item_container--title'>
    <%= file.metadata['filename'] %>
  </div>
<% end %>

