<% turbo_action = turbo_action.present? ? turbo_action : false %>
<%= render 'admin/kubik_modal/template' %>
<%= turbo_frame_tag 'media_library_frame' do %>
  <div class='media-library-listing-container'>
    <div class='file_upload_form'
         id='kubik-media-gallery--file_upload_form--container'
         data-controller='image_dropzone'
         data-image_dropzone-text-value='Select a file'
         data-image_dropzone-turbo-value="<%= Mime::Type.lookup_by_extension(:turbo_stream).present? %>">
      <%= render 'file_upload_form' %>
    </div>
    <div class='kubik-media-library-listing' id='media_list'>
      <% if modal %>
        <%= render partial: 'selectable_image', locals: { modal: modal }, collection: @collection, as: :image %>
      <% else %>
        <%= render partial: 'image', locals: { modal: modal }, collection: @collection, as: :image %>
      <% end %>
    </div>
    <div class='kubik-pagination' id='index_footer'>
      <%= paginate @collection, theme: 'kubik', turbo_action: turbo_action %>
    </div>
  </div>
<% end %>
